.page{
    width: 100%;       
}
.content{
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
}
.block{
    display: flex;     
}

@media (min-width:1366px){
    .content{
        width: 75vw;
    }
}
@media (min-width:1600px){
    .content{
        width: 65vw;
    }
}