:root{
  font-size:15px; 
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
*{
  margin:0px;
  padding: 0px;  
}
body{
  background-color: rgb(24, 24, 24);
  line-height: 1.6;
}

body::-webkit-scrollbar{
  width:0.25rem;
}
body::-webkit-scrollbar-track{
  background: black;
}
body::-webkit-scrollbar-thumb{
  background: #ffffff;
}